body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

.banner img {
    width: 100%;
    border-radius: 35px;
}

.pilih-liga img {
    height: 100px;
}

.pilih-liga .card {
    border-radius: 20px;
}

.products .card {
    border-radius: 20px;
}

/* footer {
    margin-top: 500px;
} */

footer .copyright {
    padding: 20px;
}

.breadcrumb {
    background: transparent;
    padding: 0;
}

.breadcrumb .active {
    font-weight: bold;
    color: black;
}
